
@{
    ViewBag.Title = "ERROR: No Results";
}

<div class="main-banner" id="top">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="productWrapper">
        <div class="col-md-12">
            <div id="mainContent">
                <div class="formContainer col-md-12">

                    <div class="col-md-12">
                        <h2>@ViewBag.Title</h2>
                        <p class="alert alert-warning">
                            There are no results in your query!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
