
@{
    ViewBag.Title = "No Results Succeeded";
}

<div class="main-banner" id="top">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="productWrapper">
        <div class="col-md-12">
            <div id="mainContent">
                <div class="formContainer col-md-12">

                    <div class="col-md-12">
                        <h2 class="text-success">@ViewBag.Title</h2>
                        <p class="alert alert-success">
                            There are results.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
