@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="main-banner" id="top">


    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <h2>
            Please check your email to reset your password.
        </h2>
        @*<p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
            Please change this code to register an email service in IdentityConfig to send an email.
        </p>*@
    </div>

</div>