@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="main-banner" id="top">
    <div class="formContainer col-md-6">
        <hgroup class="title">
            <h2>@ViewBag.Title.</h2>
        </hgroup>
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
